<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

Options -Indexes

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RewriteCond %{REQUEST_URI} !\.(php|js)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html?/$1 [L,QSA]


# Use HTTP Strict Transport Security to force client to use secure connections only
<IfModule mod_headers.c>
        Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
</IfModule>

<IfModule mod_headers.c>
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires 0
</IfModule>

<FilesMatch "\.(log)$">
Require all denied
</FilesMatch>

AddType text/cache-manifest appcache
